<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list adm1in-sidebar-list">
        <li><a href="/admin"><span class="am-icon-home"></span> 首页</a></li>
        <li><a href="/admin/Movies/add"><span class="am-icon-plus"></span>增加影片信息</a></li>
       <li><a href="/admin/Movies/list"><span class="am-icon-list"></span>影片信息列表</a></li>
        <li><a href="/admin/Movies/advadd"><span class="am-icon-plus"></span>增加adv信息</a></li>
       <li><a href="/admin/Movies/advList"><span class="am-icon-list"></span>adv列表</a></li>
       <li><a href="/admin/Movies/userList"><span class="am-icon-list"></span>user列表</a></li>
      </ul>



      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> About creater</p>
          <p>邮箱：Kanoyami@92loli.com </p>
          <p>QQ：448264919 </p>
        </div>
      </div> 
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">